<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @customer.email %>
    <p>
      This is your secret license key of application:- <%= @license_key %>
    </p>
  </body>
</html>