<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Customers</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        List</div>
    <div class="card-body">
        <div class="table-responsive customer_table_wrap">
            <%= render "customers/partial/customers" %>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script data-turbolinks-eval="false">
$(document).ready(function() {
    $('#userDataTable').DataTable({
        "ordering": false
    });
    // 
});

$(document).on("click", ".send_license_key", function() {
    var customer_id = $(this).closest('tr').data('id');
    var self = this
    $(this).text('Please Wait');
    $(this).attr('disabled', true);
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken,
        url: "/send_license_key",
        data: { customer_id: customer_id },
        success: function(data) {
            if (data['message'] == true) {
                alert("License Key successfully sent via email");
                $(self).removeAttr('disabled');
                $(self).text('Resend License Key');
            } else {
                $(self).text('Send License Key');
                $(self).removeAttr('disabled');
            }
        },
        error: function(exception) {
            alert("Please try again.");
            $(self).text('Send License Key');
            $(self).removeAttr('disabled');
        }
    });
});

$(document).on("click", ".activate_plan_button", function() {
    if (confirm('Are you sure you want to Activate this plan?')) {
        var self = $(this);
        var customer_id = $(this).closest('tr').data('id');
        var plan_id = $(this).data('id');
        $(this).parents('.dropdown_plans').find('.choose_plan').attr('disabled', 'true');

        function onSuccess(data) {
            if (data['message'] == true) {
                var customer_tr = $("[data-id=" + $(self).closest('tr').data('id') + "]")
                var license_key_tag = "<span class='secret_key_token' style='cursor: pointer;''>" + data['license_key'] + "</span>"
                customer_tr.find('.plan_license_key').empty().append(license_key_tag);
                customer_tr.find('.send_activation_td').empty();
                var tag = "<button name=button type=submit class='btn btn-primary send_license_key'>Send License Key</button>"
                var active_deactivate_plan_tag = "<button name=button type=submit class='btn btn-primary activate_deactivate_plan' data-is-active=true data-id=" + data['plan_id'] + ">Deactivate </button>"
                customer_tr.find('.is_plan_active').empty().append(active_deactivate_plan_tag);
                customer_tr.find('.send_activation_td').append(tag);
                $(self).closest('td').append($(self).text().trim())
                $(self).closest('.dropdown_plans').remove();
                alert("Plan created successfully for customer")
            } else {
                $(this).parents('.dropdown_plans').find('.choose_plan').removeAttr('disabled');
                alert("Please try again.")
            }
        }
    }

    function onError(reponse) {
        $(this).parents('.dropdown_plans').find('.choose_plan').removeAttr('disbaled');
        alert("Please try again.");
    }
    activate_plan(customer_id, plan_id, onSuccess, onError);
});

$(document).on("click", ".secret_key_token", function() {
    var value = $(this).text();
    var temp = $("<input>");
    $("body").append(temp);
    temp.val(value).select();
    document.execCommand("copy");
    temp.remove();
    alert("Copied the text");
});


$(document).on("click", ".activate_deactivate_plan", function() {
    var customer_id = $(this).closest('tr').data('id');
    var plan_id = $(this).data('id');
    var is_active = $(this).data('isActive');
    $(this).text('Please Wait');
    $(this).attr('disabled', true);

    function onSuccess(data) {
        if (data != null) {
            $('.customer_table_wrap').html(data)
        } else {
            alert("Please try again.")
        }
    }

    function onError(reponse) {
        alert("Please try again.");
    }
    activate_deactivate_plan(plan_id, is_active, onSuccess, onError)
});

function activate_plan(customer_id, plan_id, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in application.html.erb
        url: "/activate_plan",
        data: { id: customer_id, plan_id: plan_id },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (errorcb) errorcb(exception);
        }
    });
}

function activate_deactivate_plan(plan_id, is_active, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken,
        url: "/activate_deactivate_plan",
        data: { is_active: is_active, plan_id: plan_id },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (successcb) successcb(data);
        }
    });
}
</script>
<style>
    table{
  /*margin: 0 auto;*/
  /*clear: both;*/
  /*border-collapse: collapse;*/
  table-layout: fixed; 
  /*word-wrap:break-word;*/
}
</style>