.notifyjs-corner {
    left: 50% !important;
    transform: translate(-50%, 0);
}

table tr td, table tr th {
    text-align: center;
    vertical-align: middle !important
    /*font-size: 10px;*/
}

.lg-backdrop {
    z-index: 1050;
}

.license_key{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    width: 90px;
    margin-left: 36px;
}
.send_license_key, .suspend_resume_plan, .suspend_resume_plan_customer{
    background-color: green;
    border-color: green;
}

/*table {
    table-layout: fixed;
}*/

.change_validity_button{
    width: 125px;
    margin-left: -3px;
}
.customer_title
{
    font-weight: 800;
    color: green;
    display: inline-block;
    padding-top: 5px;
    font-size: 17px;
}

.warning_button
{
    background-color: red;
    border-color: red;
}
.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}